body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(195, 253, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 60px;
    margin: 50px 0;
    color: #4D334B;
}

#game {
    -webkit-box-shadow: 8px 8px 33px 22px rgba(77, 51, 75, 1);
    -moz-box-shadow: 8px 8px 33px 22px rgba(77, 51, 75, 1);
    box-shadow: 8px 8px 33px 22px rgba(77, 51, 75, 1);
    /* background-color: #4D334B; */
}